# Python
__pycache__/
*.pyc
.venv/
.env

data/
legacy/

# Frontend
node_modules/
frontend/dist/

# Build artifacts
build/
.vite/
.DS_Store
.env
logs/
uv.lock
.claude/skills/primevue.md
.claude/settings.local.json
frontend/designs/*.pen
node_modules/
bun.lock
